{% extends "layout.html" %}

    {% block content %}
  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Orders</h1>
      </div>
      </div>
      
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="location" placeholder="Location">
            <label for="location">Location</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="total" placeholder="100">
            <label for="total">Total</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" id="btnOrder" type="">Place Order</button>
        </form>
      </div>
    </div>
  </div>

</main>
          {% endblock %}